<%= render "top"%>

<div id="dashboard-items">	
	<div class="dashboard-item">
		<div class="progress-bar">
		</div>
		<div class="dashboard-item-content">
			hey you
		</div>
	</div>
	
	<div class="dashboard-item">
		<div class="progress-bar">
		</div>
		<div class="dashboard-item-content">
			hey you
		</div>
	</div>
	
	<div class="dashboard-item">
		<div class="progress-bar">
		</div>
		<div class="dashboard-item-content">
			hey you
		</div>
	</div>
	<div class="dashboard-item">
		<div class="progress-bar">
		</div>
		<div class="dashboard-item-content">
			hey you
		</div>
	</div>
	<div style="clear:both;height:10px;"></div>
</div>
