<div id="loginBackground">

<div id="loginButtons">
<div class="facebookLoginButton"><%= link_to "Login with Facebook", '/auth/facebook/'%></div>

<br><br>
<div class="googleLoginButton"><a href="#">Login with Google</a></div>
</div>

</div>
