$default-font: Arial, Helvetica, sans-serif;
$default-headline-font-color: #000000;
$default-body-font-color: #000000;
$page-width:1024px; 
$system-blue:#0066FF;
$facebook-blue:#1560D1;
$facebook-dark-blue:#104BA5;
$google-red:#E04652;
$google-dark-red:#CC2532;
