//Full Body
$default-font: Arial, Helvetica, sans-serif;
$default-font-color:#222222;
$page-width:1100px;

//Top Banner
$banner-font-color:#ffffff;
$banner-font-size:15px;
$banner-font-family:$default-font;
$banner-background:#000000;
$banner-height:40px;
$banner-right-width:85px;
$banner-shadow-color:#888888;
$banner-right-color:#0066FF;
$banner-right-hover-color:#ffffff;
$banner-right-font-hover-color:#000000;

//left menu
$leftmenu-top-space-height:40px;
$leftmenu-width:200px;
$leftmenu-border:0px solid #fff;
$leftmenu-button-hover-color:#dddddd;
$leftmenu-button-active-color:#0066FF;
$leftmenu-button-radius:2px;
$leftmenu-button-active-font-color:#ffffff;
$leftmenu-button-padding:8px;
$leftmenu-button-font-size:13px;
$leftmenu-button-margin:5px;

//right menu
$rightmenu-top-space-height:40px;
$rightmenu-width:200px;
$rightmenu-border:0px solid #fff;
$rightmenu-button-hover-color:#dddddd;
$rightmenu-button-active-color:#0066FF;
$rightmenu-button-radius:2px;
$rightmenu-button-active-font-color:#ffffff;
$rightmenu-button-padding:8px;
$rightmenu-button-font-size:13px;
$rightmenu-button-margin:5px;


//home.css.scss
$home-facebook-blue:#1560D1;
$home-facebook-dark-blue:#104BA5;
$home-google-red:#E04652;
$home-google-dark-red:#CC2532;
$home-button-height:40px;
$home-button-width:200px;
$home-button-radius:4px;
$home-button-font-color:#ffffff;
$home-button-font-size:16px;
$home-background-image:'front-page-jordan.jpg';