//Full Body
$default-font: Arial, Helvetica, sans-serif;
$page-width:1024px;

//Top Banner
$banner-font-color:#ffffff;
$banner-font-size:15px;
$banner-font-family:$default-font;
$banner-background:#000000;
$banner-height:40px;
$banner-right-width:85px;
$banner-shadow-color:#888888;
$banner-right-color:#0066FF;
$banner-right-hover-color:#ffffff;
$banner-right-font-hover-color:#000000;

//left menu
$leftmenu-top-space-height:40px;
$leftmenu-width:180px;
$leftmenu-border:1px solid #888888;
$leftmenu-button-hover-color:#dddddd;


//home.css.scss
$home-facebook-blue:#1560D1;
$home-facebook-dark-blue:#104BA5;
$home-google-red:#E04652;
$home-google-dark-red:#CC2532;
$home-button-height:40px;
$home-button-width:200px;
$home-button-radius:4px;
$home-button-font-color:#ffffff;
$home-button-font-size:16px;
$home-background-image:'front-page-jordan.jpg';
