// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'systemvars';


#loginBackground{ 
  
  position:absolute;
  top:$banner-height;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;   
  width:100%; 
  background-image:image-url($home-background-image) ;
  background-repeat:no-repeat;
  background-size: 100% ;  

  #loginButtons{  
    height: 100px;  
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; 
  
    .facebookLoginButton{  
      position: relative;
      background:$home-facebook-blue;
      font-family:$default-font;
      width:$home-button-width;
      height:$home-button-height;
      border-radius:$home-button-radius;
      color:$home-button-font-color;
      margin: 0 auto;
      padding:0px;  
      cursor:pointer;      
      
      a {    
        position: relative;
        font-family: $default-font;        
        text-decoration: none;
        color: $home-button-font-color;
        font-size: $home-button-font-size;
        padding-right: 0.5em;    
        top: 10px;
        left:25px;
        
        &:before{
          position:relative;      
          content: "\f09a";
          font-family: FontAwesome;                        
          left:-10px;  
        }       
      } 
      
      &:hover{
        background-color:$home-facebook-dark-blue;
      }
    }
    
    .googleLoginButton{  
      position: relative;
      background:$home-google-red;
      font-family:$default-font;
      width:$home-button-width;
      height:$home-button-height;
      border-radius:$home-button-radius;
      color:$home-button-font-color;
      margin: 0 auto;
      padding:0px;  
      cursor:pointer;      
      
      a {    
        position: relative;
        font-family: $default-font;        
        text-decoration: none;
        color: $home-button-font-color;
        font-size: $home-button-font-size;
        padding-right: 0.5em;    
        top: 10px;
        left:25px;
        
        &:before{
          position:relative;      
          content: "\f0d5";
          font-family: FontAwesome;                        
          left:-10px;  
        }       
      } 
      
      &:hover{
        background-color:$home-google-dark-red;
      }
    }
   }  
}