<div class="lmenutop"></div>
<% if @current_tab=="dashboard" %>
<div class="lmenubutton lmenubuttonactive">
	Dashboard
</div>
<% else %>
<div class="lmenubutton">
	Dashboard
</div>
<% end%>

<% if @current_tab=="progress" %>
<div class="lmenubutton lmenubuttonactive">
	Progress
</div>
<% else %>
<div class="lmenubutton">
	Progress
</div>
<% end%>

<% if @current_tab=="history" %>
<div class="lmenubutton lmenubuttonactive">
	History
</div>
<% else %>
<div class="lmenubutton">
	History
</div>
<% end%>

<% if @current_tab=="leader" %>
<div class="lmenubutton lmenubuttonactive">
	Leadership Board
</div>
<% else %>
<div class="lmenubutton">
	Leadership Board
</div>
<% end%>