<!DOCTYPE html>
<html>
<head>
  <title>Sherlock</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="topbanner">
		<div class="topmenu">			
			<a href=""> About Us</a>
			<a href=""> Team</a>
			<div class="right">
				<a href="">Log In</a>
			</div>			
		</div>	
	</div>

<%= yield %>

</body>
</html>
